*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: blueviolet;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.215 , 0.61 , 0.335 , 1);
    -webkit-transition: 0.3s cubic-bezier(0.215 , 0.61 , 0.335 , 1);
    -moz-transition: 0.3s cubic-bezier(0.215 , 0.61 , 0.335 , 1);
    -ms-transition: 0.3s cubic-bezier(0.215 , 0.61 , 0.335 , 1);
    -o-transition: 0.3s cubic-bezier(0.215 , 0.61 , 0.335 , 1);
}

h2{
    color: white;
    font-weight: 200;
}
button{
    padding: 15px;
    background: transparent;
    border: 2px solid white;
    color: #fff;
    transition: 0.8s cubic-bezier(0.175 , 0.885 , 0.32 , 1.275);
    -webkit-transition: 0.8s cubic-bezier(0.175 , 0.885 , 0.32 , 1.275);
    -moz-transition: 0.8s cubic-bezier(0.175 , 0.885 , 0.32 , 1.275);
    -ms-transition: 0.8s cubic-bezier(0.175 , 0.885 , 0.32 , 1.275);
    -o-transition: 0.8s cubic-bezier(0.175 , 0.885 , 0.32 , 1.275);
    margin-bottom: .5rem;
}

button:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
    padding: 5px;
}
